<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		



    <title>Lead Free Buffalo</title>


		
  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="/">Lead Free Buffalo</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/form">Calculate my risk of exposure to lead</a>
					 </li>
					 <li class="nav-item">
							<a class="nav-link" href="/about">View other resources</a>
					 </li>
					</ul>
				</div>
			</nav>
			<div class="jumbotron">
				<h2>
					Lead Free Buffalo
				</h2>
				<p>
					The Lead Free Buffalo project aims to help Buffalo residents determine if they are at risk for exposure from lead pipes in their home.
				</p>
				
			</div>
				<div id="viewDiv"></div>
				
		</div>
	</div>
	


		<!--
  ArcGIS API for JavaScript, https://js.arcgis.com
  For more information about the visualization-heatmap sample, read the original sample description at developers.arcgis.com.
  https://developers.arcgis.com/javascript/latest/sample-code/visualization-heatmap/index.html
  -->
	<link
	rel="stylesheet"
	href="https://js.arcgis.com/4.11/esri/themes/light/main.css"
/>

<style>
	html,
	body,
	#viewDiv {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
	}
</style>

<script src="https://js.arcgis.com/4.11/"></script>

<script>
	require([
		"esri/Map",
		"esri/layers/CSVLayer",
		"esri/layers/GeoJSONLayer",
		"esri/views/MapView",
		"esri/widgets/Legend"
	], function(Map, CSVLayer, GeoJSONLayer, MapView, Legend) {
		const zip_url =
			"https://raw.githubusercontent.com/nshea3/civic_innovation_pbfree/master/data/zipcodes.geojson";

		// Paste the url into a browser's address bar to download and view the attributes
		// in the CSV file. These attributes include:
		// * mag - magnitude
		// * type - earthquake or other event such as nuclear test
		// * place - location of the event
		// * time - the time of the event

		const template = {
			title: "{place}",
			content: "Magnitude {mag} {type} hit {place} on {time}."
		};

		const layer = new GeoJSONLayer({
  url: zip_url,
  copyright: "USGS Earthquakes",
  popupTemplate: template
});

		// The heatmap renderer assigns each pixel in the view with
		// an intensity value. The ratio of that intensity value
		// to the maxPixel intensity is used to assign a color
		// from the continuous color ramp in the colorStops property

		const renderer = {
			type: "heatmap",
			colorStops: [
				{ color: "rgba(63, 40, 102, 0)", ratio: 0 },
				{ color: "#472b77", ratio: 0.083 },
				{ color: "#4e2d87", ratio: 0.166 },
				{ color: "#563098", ratio: 0.249 },
				{ color: "#5d32a8", ratio: 0.332 },
				{ color: "#6735be", ratio: 0.415 },
				{ color: "#7139d4", ratio: 0.498 },
				{ color: "#7b3ce9", ratio: 0.581 },
				{ color: "#853fff", ratio: 0.664 },
				{ color: "#a46fbf", ratio: 0.747 },
				{ color: "#c29f80", ratio: 0.83 },
				{ color: "#e0cf40", ratio: 0.913 },
				{ color: "#ffff00", ratio: 1 }
			],
			maxPixelIntensity: 25,
			minPixelIntensity: 0
		};




		const map = new Map({
			basemap: "gray",
			layers: [layer]
		});

		const view = new MapView({
			container: "viewDiv",
			center: [-78.85, 42.90],
			zoom: 11,
			map: map
		});

	});
</script>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>